## Supervised Machine Learning - Support Vector Machines (Galaxies vs. Star)

### Dependencies:

In [1]:
import numpy as np
import pandas as pd

from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import EasyEnsembleClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

import sqlite3

In [2]:
# Create db connection to sqlite3 and cursor to execute queries
conn = sqlite3.connect("stellar_class_db")
c = conn.cursor()

In [3]:
# Load the data from sqlite
data_df = pd.read_sql_query("SELECT * FROM stars_galaxies", conn)
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,mjd,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81034,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,1.055431e+19,GALAXY,0.000000,9374,57749,438
81035,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,8.586351e+18,GALAXY,0.404895,7626,56934,866
81036,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,3.112008e+18,GALAXY,0.143366,2764,54535,74
81037,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,7.601080e+18,GALAXY,0.455040,6751,56368,470
81038,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,8.343152e+18,GALAXY,0.542944,7410,57104,851

In [4]:
data_df.set_index(['spec_obj_ID'], inplace = True)

In [5]:
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,class,redshift,plate,mjd,fiber_ID
spec_obj_ID,,,,,,,,,,,,,,,,,
6.543777e+18,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,GALAXY,0.634794,5812,56354,171
1.176014e+19,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,GALAXY,0.779136,10445,58158,427
5.152200e+18,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,GALAXY,0.644195,4576,55592,299
1.030107e+19,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,GALAXY,0.932346,9149,58039,775
6.891865e+18,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.055431e+19,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,GALAXY,0.000000,9374,57749,438
8.586351e+18,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,GALAXY,0.404895,7626,56934,866
3.112008e+18,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,GALAXY,0.143366,2764,54535,74
7.601080e+18,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,GALAXY,0.455040,6751,56368,470
8.343152e+18,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,GALAXY,0.542944,7410,57104,851

In [6]:
new_data_df=data_df.drop(['alpha','delta','run_ID','rerun_ID', 'cam_col', 'field_ID', "obj_ID",'plate', 'mjd', 'fiber_ID'], axis = 1 )

In [7]:
new_data_df

,u,g,r,i,z,class,redshift
spec_obj_ID,,,,,,,
6.543777e+18,23.87882,22.27530,20.39501,19.16573,18.79371,GALAXY,0.634794
1.176014e+19,24.77759,22.83188,22.58444,21.16812,21.61427,GALAXY,0.779136
5.152200e+18,25.26307,22.66389,20.60976,19.34857,18.94827,GALAXY,0.644195
1.030107e+19,22.13682,23.77656,21.61162,20.50454,19.25010,GALAXY,0.932346
6.891865e+18,19.43718,17.58028,16.49747,15.97711,15.54461,GALAXY,0.116123
...,...,...,...,...,...,...,...
1.055431e+19,22.16759,22.97586,21.90404,21.30548,20.73569,GALAXY,0.000000
8.586351e+18,22.69118,22.38628,20.45003,19.75759,19.41526,GALAXY,0.404895
3.112008e+18,21.16916,19.26997,18.20428,17.69034,17.35221,GALAXY,0.143366
7.601080e+18,25.35039,21.63757,19.91386,19.07254,18.62482,GALAXY,0.455040
8.343152e+18,22.62171,21.79745,20.60115,20.00959,19.28075,GALAXY,0.542944

### Variable engineering

In [8]:
frequency = [1, 2, 3]

u_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_u"] = pd.cut(new_data_df["u"], u_size_bins, labels = frequency)

g_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_g"] = pd.cut(new_data_df["g"], g_size_bins, labels = frequency)

r_size_bins = [9,16,23, 30]
new_data_df["binned_r"] = pd.cut(new_data_df["r"], r_size_bins, labels = frequency)

i_size_bins = [9,17,25, 33]
new_data_df["binned_i"] = pd.cut(new_data_df["i"], i_size_bins, labels = frequency)

z_size_bins = [-10000, -6600,-3310, 30]
new_data_df["binned_z"] = pd.cut(new_data_df["z"], z_size_bins, labels = frequency)

new_data_df.sample(30)

,u,g,r,i,z,class,redshift,binned_u,binned_g,binned_r,binned_i,binned_z
spec_obj_ID,,,,,,,,,,,,
5.007122e+18,26.64991,21.58583,19.94519,19.09272,18.65518,GALAXY,0.462489,3,3,2,2,3
9.210139e+17,18.63321,16.63111,15.67055,15.22716,14.90783,GALAXY,0.077959,3,3,1,1,3
4.265000e+18,23.85108,22.71074,21.00186,19.94743,19.52282,GALAXY,0.516284,3,3,2,2,3
6.722754e+18,22.29670,21.48616,21.15814,20.83167,20.20902,STAR,0.000296,3,3,2,2,3
4.161414e+18,23.99006,23.13163,20.77406,19.56736,19.27584,GALAXY,0.577055,3,3,2,2,3
8.723727e+18,22.72039,23.46247,21.59739,20.27726,19.56009,GALAXY,0.688204,3,3,2,2,3
2.960125e+18,20.96391,19.33988,18.58661,18.23541,18.03560,STAR,-0.000422,3,3,2,2,3
1.049453e+19,23.08954,22.66949,22.00535,21.18033,20.76980,GALAXY,0.898442,3,3,2,2,3
6.178065e+18,22.17597,21.12474,19.37963,18.68666,18.19904,GALAXY,0.382972,3,3,2,2,3
3.584965e+18,21.41023,19.99097,19.93641,20.03777,20.05154,STAR,-0.000566,3,3,2,2,3
4.297834e+18,23.10442,22.10198,20.67411,19.81788,19.35726,GALAXY,0.462881,3,3,2,2,3
2.290209e+18,24.58524,21.46159,19.68424,18.91741,18.54184,GALAXY,0.438801,3,3,2,2,3
7.947864e+18,22.40993,21.45639,20.21252,19.26803,18.60250,GALAXY,0.541129,3,3,2,2,3
4.162552e+18,25.24470,22.38073,20.69342,19.58939,19.12413,GALAXY,0.613266,3,3,2,2,3
1.078729e+19,23.17458,22.78162,23.05133,22.55261,21.58266,GALAXY,1.118092,3,3,3,2,3
5.664477e+18,26.42608,22.84078,21.51452,20.28213,19.50018,GALAXY,0.656896,3,3,2,2,3
8.677373e+18,23.92944,24.11391,22.61084,20.78836,19.88733,GALAXY,0.803045,3,3,2,2,3
1.974836e+18,19.07100,18.63217,18.69778,18.77817,18.96892,STAR,0.000021,3,3,2,2,3
1.436805e+18,15.64282,14.88761,14.62324,14.51715,14.38431,GALAXY,0.005285,3,3,1,1,3
4.751394e+18,24.36689,21.67073,20.07049,19.08964,18.69662,GALAXY,0.500789,3,3,2,2,3
8.559154e+18,22.12268,21.92940,21.51363,21.37302,21.80032,GALAXY,0.982459,3,3,2,2,3
2.581712e+18,20.32594,17.98928,16.73252,16.23846,15.89237,GALAXY,0.164663,3,3,2,1,3
6.935754e+18,22.40238,21.22292,19.50953,18.74285,18.19913,GALAXY,0.404566,3,3,2,2,3
1.252113e+18,20.67198,19.62161,19.13917,18.92502,18.82841,STAR,-0.000412,3,3,2,2,3
9.616868e+17,18.52826,17.62000,17.33597,17.07161,16.94922,GALAXY,0.050500,3,3,2,2,3
5.314412e+18,22.00420,22.05203,20.42199,19.51527,19.13878,GALAXY,0.515057,3,3,2,2,3
5.077837e+18,24.54462,21.73194,19.45700,18.71666,18.51937,GALAXY,0.421336,3,3,2,2,3
7.975989e+18,26.64797,22.09112,20.32130,19.24522,18.55560,GALAXY,0.563382,3,3,2,2,3
8.028973e+18,22.47649,22.06594,20.40559,19.57304,19.33896,GALAXY,0.483021,3,3,2,2,3
2.701124e+18,17.81852,16.59378,16.11935,15.93771,15.86135,STAR,0.000019,3,3,2,1,3

### Test and Train Data

In [9]:
# Create our features
X = new_data_df.drop('class', axis=1)

# Create our target
y = new_data_df['class']

print(X.shape)
print(y.shape)

(81039, 11)
(81039,)

In [10]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
Counter(y_train)

Counter({'GALAXY': 44584, 'STAR': 16195})

### Random Oversampling

In [11]:
# Resample the training data with the RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'GALAXY': 44584, 'STAR': 44584})

### Support Vector Machine (Galaxies vs. Star) - Oversampling

In [12]:
# Train the Support Vector Machine Model using the resampled data
model = SVC(kernel='linear')
model.fit(X_resampled, y_resampled)

SVC(kernel='linear')

In [13]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9923289146087073

In [14]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       1.00      0.98      1.00      0.99      0.99      0.98     14861
       STAR       0.96      1.00      0.98      0.98      0.99      0.99      5399

avg / total       0.99      0.99      1.00      0.99      0.99      0.98     20260

In [15]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred)
cmros = pd.DataFrame(c, index=["Actual - Galaxy", "Actual - Star"], columns=["Predicted - Galaxy", "Predicted - Star"])
cmros

                 Predicted - Galaxy  Predicted - Star
Actual - Galaxy               14633               228
Actual - Star                     0              5399

### Random Undersampling

In [16]:
# Resample the training data with the RandomUnderSampler
rus = RandomUnderSampler(random_state=1)
X_resampled1, y_resampled1 = rus.fit_resample(X_train, y_train)
Counter(y_resampled1)

Counter({'GALAXY': 16195, 'STAR': 16195})

### Support Vector Machine (Galaxies vs. Star) - Undersampling

In [17]:
model2 = SVC(kernel='linear')
model2.fit(X_resampled1, y_resampled1)

SVC(kernel='linear')

In [18]:
# Calculated the balanced accuracy score
y_pred1 = model2.predict(X_test)
balanced_accuracy_score(y_test, y_pred1)

0.9887288876926182

In [19]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred1))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       1.00      0.98      1.00      0.99      0.99      0.98     14861
       STAR       0.94      1.00      0.98      0.97      0.99      0.98      5399

avg / total       0.98      0.98      0.99      0.98      0.99      0.98     20260

In [20]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred1)
cmrus = pd.DataFrame(c, index=["Actual - Galaxy", "Actual - Star"], columns=["Predicted - Galaxy", "Predicted - Star"])
cmrus

                 Predicted - Galaxy  Predicted - Star
Actual - Galaxy               14526               335
Actual - Star                     0              5399

In [21]:
# Write new df to new SQLite table -
new_data_df.to_sql("gs_svm", conn, if_exists="replace")
conn.close()

In [22]:
import pandas as pd
from config import password
from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:" + password + "@localhost:5432/Stellar_Classification")

In [23]:
# Create table with results in postgres 

new_data_df.to_sql("gs_svm", engine, if_exists="replace")